.header__page-link {
  /* border: 1px yellow solid; */
  font-family: RobotoCondensed, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(237, 237, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 109px;
  height: 60px;
  border-left: 1px rgb(77, 77, 77) solid;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.header__page-link:last-child {
  border-right: 1px rgb(77, 77, 77) solid;
}

.header__page-link:hover {
  transition: 0.2s linear;
  background-color: #000;
  color: rgb(199, 170, 139);
}
