.description__link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RobotoCondensed, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  position: relative;
  width: 132px;
  height: 38px;
  border: 2px solid #fff;
  margin: 0 auto;
}
